In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

In [11]:
# Você pode baixar o conjunto de dados MovieLens 100k em https://grouplens.org/datasets/movielens/
# Carregue os arquivos 'movies.csv' e 'ratings.csv'

movies = pd.read_csv('../data/reduced/movies_m10_rich_pre.csv')
ratings = pd.read_csv('../data/reduced/ratings_m10.csv')

In [28]:
movies = movies[['title', 'genres']]
movies.index.values = movies.index.values+1
movies['movieId'] = movies.index.values

AttributeError: property 'values' of 'RangeIndex' object has no setter

In [ ]:
movies

,title,genres,movieId
0,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1
1,Jumanji,"['Adventure', 'Children', 'Fantasy']",2
2,Grumpier Old Men,"['Comedy', 'Romance']",3
3,Father of the Bride Part II,['Comedy'],4
4,Heat,"['Action', 'Crime', 'Thriller']",5
...,...,...,...
2021,The Revenant,"['Adventure', 'Drama']",2022
2022,Sicario,"['Crime', 'Drama', 'Mystery']",2023
2023,The Intern,['Comedy'],2024
2024,Spotlight,['Thriller'],2025
2025,"Big Short, The",['Drama'],2026

In [ ]:
# Junte os conjuntos de dados 'movies' e 'ratings' usando a coluna 'movieId'
data = pd.merge(ratings, movies, on='movieId')

In [ ]:
data.head(50)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
1,5,1,4.0,847434962,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
2,7,1,4.5,1106635946,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
3,15,1,2.5,1510577970,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
4,17,1,4.5,1305696483,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
5,18,1,3.5,1455209816,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
6,19,1,4.0,965705637,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
7,21,1,3.5,1407618878,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
8,27,1,3.0,962685262,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
9,31,1,5.0,850466616,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
10,32,1,3.0,856736119,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
11,33,1,3.0,939647444,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
12,40,1,5.0,832058959,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
13,43,1,5.0,848993983,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
14,44,1,3.0,869251860,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
15,45,1,4.0,951170182,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
16,46,1,5.0,834787906,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
17,50,1,3.0,1514238116,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
18,54,1,3.0,830247330,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
19,57,1,5.0,965796031,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
20,63,1,5.0,1443199669,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
21,64,1,4.0,1161520134,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
22,66,1,4.0,1104643957,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
23,68,1,2.5,1158531426,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
24,71,1,5.0,864737933,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
25,73,1,4.5,1464196374,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
26,76,1,0.5,1439165548,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
27,78,1,4.0,1252575124,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
28,82,1,2.5,1084467729,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
29,86,1,4.0,1344082549,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
30,89,1,3.0,1520408314,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
31,90,1,3.0,856353996,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
32,91,1,4.0,1112713037,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
33,93,1,3.0,942767337,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
34,96,1,5.0,964772990,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
35,98,1,4.5,1532457849,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
36,103,1,4.0,1431954238,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
37,107,1,4.0,829322340,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
38,112,1,3.0,1442535639,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
39,119,1,3.5,1435942468,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
40,121,1,4.0,847656180,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
41,124,1,4.0,1336584336,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
42,130,1,3.0,832589610,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
43,132,1,2.0,1157921785,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
44,134,1,3.0,832841103,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
45,135,1,4.0,1009691859,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
46,137,1,4.0,1204859907,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
47,140,1,3.0,942924980,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
48,141,1,4.0,1513130643,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
49,144,1,3.5,1137323419,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."

In [ ]:
movies

,title,genres,movieId
0,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1
1,Jumanji,"['Adventure', 'Children', 'Fantasy']",2
2,Grumpier Old Men,"['Comedy', 'Romance']",3
3,Father of the Bride Part II,['Comedy'],4
4,Heat,"['Action', 'Crime', 'Thriller']",5
...,...,...,...
2021,The Revenant,"['Adventure', 'Drama']",2022
2022,Sicario,"['Crime', 'Drama', 'Mystery']",2023
2023,The Intern,['Comedy'],2024
2024,Spotlight,['Thriller'],2025
2025,"Big Short, The",['Drama'],2026

In [ ]:
# Criar uma matriz de recursos TF-IDF para a descrição do filme
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(movies['genres'])

# Adicionar a matriz TF-IDF ao conjunto de dados
movies_tfidf = pd.DataFrame(tfidf_matrix.toarray(), index=movies.index)

# Concatenar o conjunto de dados original com a matriz TF-IDF
data_tfidf = pd.merge(data, movies_tfidf, on='movieId').fillna(0)

KeyError: 'movieId'

In [ ]:
data

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
1,5,1,4.0,847434962,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
2,7,1,4.5,1106635946,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
3,15,1,2.5,1510577970,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
4,17,1,4.5,1305696483,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy..."
...,...,...,...,...,...,...
75038,558,5128,1.0,1035415850,Queen of the Damned,"['Fantasy', 'Horror']"
75039,599,5128,2.5,1498514642,Queen of the Damned,"['Fantasy', 'Horror']"
75040,600,5128,2.5,1237714385,Queen of the Damned,"['Fantasy', 'Horror']"
75041,605,5128,3.0,1277176955,Queen of the Damned,"['Fantasy', 'Horror']"
75042,610,5128,2.0,1493847880,Queen of the Damned,"['Fantasy', 'Horror']"

In [ ]:
data_tfidf

,userId,movieId,rating,timestamp,title,genres,0,1,2,3,...,11,12,13,14,15,16,17,18,19,20
0,1,1,4.0,964982703,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",0.0,0.369385,0.564013,0.495978,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,1,4.0,847434962,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",0.0,0.369385,0.564013,0.495978,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,1,4.5,1106635946,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",0.0,0.369385,0.564013,0.495978,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15,1,2.5,1510577970,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",0.0,0.369385,0.564013,0.495978,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,1,4.5,1305696483,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",0.0,0.369385,0.564013,0.495978,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75038,558,5128,1.0,1035415850,Queen of the Damned,"['Fantasy', 'Horror']",0.0,0.000000,0.000000,0.000000,...,0.741256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75039,599,5128,2.5,1498514642,Queen of the Damned,"['Fantasy', 'Horror']",0.0,0.000000,0.000000,0.000000,...,0.741256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75040,600,5128,2.5,1237714385,Queen of the Damned,"['Fantasy', 'Horror']",0.0,0.000000,0.000000,0.000000,...,0.741256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75041,605,5128,3.0,1277176955,Queen of the Damned,"['Fantasy', 'Horror']",0.0,0.000000,0.000000,0.000000,...,0.741256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75042,610,5128,2.0,1493847880,Queen of the Damned,"['Fantasy', 'Horror']",0.0,0.000000,0.000000,0.000000,...,0.741256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def train_test_column_split(df: pd.DataFrame, group_column: str, split_column: str, y_label: str, train_size: float):
    df = df.sort_values(by=split_column, ascending=True)   
    train = pd.DataFrame(columns=df.columns)
    test = pd.DataFrame(columns=df.columns)

    for idx in df[group_column].unique():
        group = df.loc[df[group_column] == idx]

        q_user = group[group[split_column].le(group[split_column].quantile(train_size))]
        p_user = group[group[split_column].ge(group[split_column].quantile(train_size))]

        train = pd.concat([train, q_user])
        test = pd.concat([test, p_user])
    train = train.sort_index(ascending=True)
    test = test.sort_index(ascending=True)

    X_labels = [c for c in df.columns if c != y_label]

    X_train = train[X_labels]
    X_test = test[X_labels]
    y_train = train[y_label]
    y_test = test[y_label]

    return (X_train, X_test, y_train, y_test)

In [ ]:
X_train, X_test, y_train, y_test = train_test_column_split(data_tfidf, 'userId', 'timestamp', 'rating', 0.8)

In [ ]:
X_train = X_train.drop(['userId', 'movieId', 'timestamp', 'title', 'genres'], axis=1)
X_test = X_test.drop(['userId', 'movieId', 'timestamp', 'title', 'genres'], axis=1)

In [ ]:
model = make_pipeline(LinearRegression())
model.fit(X_train, y_train)

Pipeline(steps=[('linearregression', LinearRegression())])

In [ ]:
predictions = model.predict(X_test)
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1.02446243892156

In [ ]:
# Substitua user_id e movie_id pelos valores desejados
user_id = 1
movie_id = 1

user_movie_data = data_tfidf[(data_tfidf['userId'] == user_id) & (data_tfidf['movieId'] == movie_id)].drop(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres'], axis=1)
prediction = model.predict(user_movie_data)

print(f'Previsão de nota para o filme: {prediction[0]}')

Previsão de nota para o filme: 3.605772794339543

In [ ]:
X_train, X_test, y_train, y_test = train_test_column_split(data_tfidf, 'userId', 'timestamp', 'rating', 0.8)

In [ ]:
X = pd.concat([X_train, y_train], axis=1)

In [ ]:
y = pd.concat([X_test, y_test], axis=1)

In [ ]:
user_movie_mat_train = X.pivot(index='movieId', columns='userId', values='rating').fillna(0)
user_movie_mat_train

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,0.0,0.0,4.0,3.0,4.0,0.0,0.0,2.5,0.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
139644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
140110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [ ]:
user_movie_mat_test = y.pivot(index='movieId', columns='userId', values='rating').fillna(0)

In [ ]:
user_movie_mat.head(10)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,0.0,0.0,4.0,3.0,4.0,0.0,0.0,2.5,0.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0
11,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def get_n_recommendations(user: int, n: int, user_movie_mat: pd.DataFrame, movies: pd.DataFrame):
    full_ratings = user_movie_mat.copy()
    rated = pd.DataFrame(columns=['movieId', 'rating'])
    i = 0

    for movie, _ in full_ratings[user].items():
        if np.isnan(full_ratings.loc[movie, user]) or full_ratings.loc[movie, user] == 0:
            movie_id = data_tfidf['movieId'].unique()[movie]
            print(movie_id)
            user_movie_data = data_tfidf[(data_tfidf['userId'] == user) & (data_tfidf['movieId'] == movie_id)].drop(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres'], axis=1)
            rating = model.predict(user_movie_data)
            new_row = {'movieId': movie_id, 'rating': rating}
            print(movie, movie_id, rating)
            rated.loc[len(rated)] = new_row
            #return rated
        i = i+1
        #print(i)
    
    recommendations = pd.merge([rated, movies], on='movie_id')
    return recommendations.head(n)

In [ ]:
rated = pd.DataFrame(columns=['movieId', 'rating'])

In [ ]:
get_n_recommendations(1, 10, user_movie_mat_train, movies)

6
2 6 [3.54002137]
70
5 70 [3.13195073]
110
7 110 [3.82482453]
163
9 163 [3.44617386]
216
10 216 [3.29854058]
223
11 223 [3.29854058]
231
12 231 [3.50664929]
260
14 260 [3.51486894]
296
15 296 [3.68125551]
316
16 316 [3.51486894]
333
17 333 [3.29854058]
349
18 349 [3.62816532]
356
19 356 [3.80690099]
362
20 362 [3.27414414]
367
21 367 [3.53519251]
423
22 423 [3.24619605]
441
23 441 [3.29854058]
457
24 457 [3.452448]
480
25 480 [3.46415916]
500
26 500 [3.53386321]
543
28 543 [3.31985042]
590
31 590 [3.72527693]
592
32 592 [3.54002137]
608
34 608 [3.68125551]
661
36 661 [3.70253424]
736
39 736 [3.37814294]
1025
41 1025 [3.67104386]
1042
44 1042 [3.53386321]
1049
45 1049 [3.4426599]
1060
46 1060 [3.53386321]
1073
47 1073 [3.31363986]
1080
48 1080 [3.29854058]
1097
52 1097 [3.38422319]
1206
58 1206 [3.7745187]
1210
60 1210 [3.51486894]
1214
62 1214 [3.4811928]
1222
65 1222 [4.02267752]
1265
69 1265 [3.46015504]
1396
76 1396 [3.59831926]
1517
79 1517 [3.31743375]
1573
81 1573 [3.62816532]
1625
86 1625 [3.66970536]
1676
88 1676 [3.44368669]
1732
89 1732 [3.69089749]
1967
94 1967 [3.70365995]
2000
95 2000 [3.57936033]
2054
100 2054 [3.34966203]
2094
104 2094 [3.51486894]
2105
105 2105 [3.51486894]
2116
107 2116 [3.69125229]
2143
111 2143 [3.63919745]
2387
122 2387 [3.69089749]
2414
125 2414 [3.30677248]
2571
135 2571 [3.39571491]
2628
140 2628 [3.51486894]
2640
141 2640 [3.51486894]
2716
145 2716 [3.34320757]
2797
147 2797 [3.54946654]
2872
150 2872 [3.70061]
2916
151 2916 [3.46415916]
2947
153 2947 [3.38846509]
2948
154 2948 [3.38846509]
2987
158 2987 [3.74596567]
2991
159 2991 [3.38846509]
2993
160 2993 [3.38846509]
2997
161 2997 [3.59256403]
3033
162 3033 [3.49095842]
3034
163 3034 [3.6129866]
3052
164 3052 [3.56717977]
3053
165 3053 [4.02267752]
3168
168 3168 [3.80910653]
3176
169 3176 [3.66970536]
3243
170 3243 [3.29854058]
3253
172 3253 [3.29854058]
3273
173 3273 [3.37335636]
3386
174 3386 [3.66970536]
3439
175 3439 [3.1497909]
3440
176 3440 [3.16819683]
3479
180 3479 [3.63919745]
3489
181 3489 [3.56717977]
3639
185 3639 [3.38846509]
3671
186 3671 [3.50953842]
3703
188 3703 [3.46415916]
5060
193 5060 [3.87910568]
318

ValueError: Found array with 0 sample(s) (shape=(0, 21)) while a minimum of 1 is required by LinearRegression.