In [533]:
import pandas as pd

In [534]:
movies = pd.read_csv('../data/reduced/movies_m10.csv', index_col='movieId')
movies.head(1)

                    title                                       genres
movieId
1        Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [535]:
movies_data = pd.read_csv('../data/auxiliar/tmdb_movies_data.csv')
movies_data.head(1)

,tmdbId,imdbId,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09

In [536]:
movies_data = movies_data[['tmdbId', 'imdbId', 'cast', 'director', 'keywords', 'overview']]
movies_data.head(1)

,tmdbId,imdbId,cast,director,keywords,overview
0,135397,tt0369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...

In [537]:
def remove_prefix(series):
    s = str(series).removeprefix('tt')
    s = str(s).removeprefix('0')
    return s

In [538]:
imdb_ids = movies_data['imdbId']

imdb_ids = imdb_ids.apply(remove_prefix)

movies_data['imdbId'] = imdb_ids

In [539]:
movies_data = movies_data.set_index('tmdbId')
movies_data.head(1)

,imdbId,cast,director,keywords,overview
tmdbId,,,,,
135397,369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...

In [540]:
links = pd.read_csv('../data/reduced/links_m10.csv', index_col='movieId')
links.head(1)

         imdbId  tmdbId
movieId
1        114709   862.0

In [541]:
links['tmdbId'] = links['tmdbId'].astype('int64')

In [542]:
links.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2269 entries, 1 to 187593
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   imdbId  2269 non-null   int64
 1   tmdbId  2269 non-null   int64
dtypes: int64(2)
memory usage: 53.2 KB

In [543]:
result = pd.concat([movies, links], axis=1, join='inner')
result.head()

,title,genres,imdbId,tmdbId
movieId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862
2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844
3,Grumpier Old Men (1995),Comedy|Romance,113228,15602
5,Father of the Bride Part II (1995),Comedy,113041,11862
6,Heat (1995),Action|Crime|Thriller,113277,949

In [544]:
mask = movies_data['imdbId'] == 'nan'

movies_data = movies_data[~mask]
movies_data['imdbId'].dropna(inplace=True)
movies_data.drop_duplicates(inplace=True)

In [545]:
movies_data['imdbId'].describe()

count      10855
unique     10855
top       369610
freq           1
Name: imdbId, dtype: object

In [546]:
movies_data['imdbId'] = movies_data['imdbId'].astype(int)

In [547]:
movies_data[movies_data.index == 862]

,imdbId,cast,director,keywords,overview
tmdbId,,,,,
862,114709,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,jealousy|toy|boy|friendship|friends,Woody the cowboy is young Andyâ€™s favorite to...

In [549]:
result = result[['title', 'genres', 'tmdbId']]
result['movieId'] = result.index
result.set_index('tmdbId', inplace=True)
result.head(1)

                   title                                       genres  movieId
tmdbId
862     Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy        1

In [550]:
movies_data.head(1)

,imdbId,cast,director,keywords,overview
tmdbId,,,,,
135397,369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...

In [551]:
movies_full_data = pd.concat([movies_data, result], axis=1, join='inner')

In [552]:
movies_full_data.head(1)

,imdbId,cast,director,keywords,overview,title,genres,movieId
tmdbId,,,,,,,,
135397,369610,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,Jurassic World (2015),Action|Adventure|Drama|Sci-Fi|Thriller,117529

In [554]:
movies_full_data.dropna(inplace=True)
movies_full_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2026 entries, 135397 to 1714
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   imdbId    2026 non-null   int32
 1   cast      2026 non-null   object
 2   director  2026 non-null   object
 3   keywords  2026 non-null   object
 4   overview  2026 non-null   object
 5   title     2026 non-null   object
 6   genres    2026 non-null   object
 7   movieId   2026 non-null   int64
dtypes: int32(1), int64(1), object(6)
memory usage: 134.5+ KB

In [555]:
movies_full_data.to_csv('../data/reduced/movies_m10_rich.csv')