In [42]:
import pandas as pd

## filtro de numero de avaliações por usuário e filme

### defina os filtros

In [43]:
n_ratings_user = 10
n_ratings_movie = 100

In [44]:
ratings = pd.read_csv('../data/standard/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [45]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [46]:
def filter_n_ratings(df, column, n_ratings):
    low = df[column].value_counts() >= n_ratings
    low = low[low == True]
    return df[df[column].isin(low.index)]

In [47]:
ratings = filter_n_ratings(ratings, 'movieId', n_ratings_movie)

In [48]:
ratings.describe()

             userId       movieId        rating     timestamp
count  20188.000000  20188.000000  20188.000000  2.018800e+04
mean     309.375520   4002.821627      3.859149  1.172612e+09
std      179.077683  11505.121552      0.950208  2.271930e+08
min        1.000000      1.000000      0.500000  8.281246e+08
25%      156.000000    364.000000      3.000000  9.705248e+08
50%      308.000000   1097.000000      4.000000  1.171234e+09
75%      462.000000   2762.000000      4.500000  1.390095e+09
max      610.000000  79132.000000      5.000000  1.537235e+09

In [49]:
len(ratings['movieId'].value_counts())

138

In [50]:
len(ratings['userId'].value_counts())

597

In [51]:
ratings = filter_n_ratings(ratings, 'userId', n_ratings_user)

In [52]:
ratings.describe()

             userId       movieId        rating     timestamp
count  19651.000000  19651.000000  19651.000000  1.965100e+04
mean     309.030584   3967.730497      3.854664  1.173328e+09
std      179.369080  11412.384466      0.949633  2.268335e+08
min        1.000000      1.000000      0.500000  8.281246e+08
25%      155.000000    364.000000      3.000000  9.711136e+08
50%      308.000000   1097.000000      4.000000  1.171324e+09
75%      462.000000   2762.000000      4.500000  1.390095e+09
max      610.000000  79132.000000      5.000000  1.537235e+09

In [53]:
len(ratings['movieId'].value_counts())

138

In [54]:
len(ratings['userId'].value_counts())

494

## aplicando filtro no movies dataset

In [55]:
movies = pd.read_csv('../data/standard/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [56]:
movies = movies[movies['movieId'].isin(ratings['movieId'])]

In [57]:
movies.describe()

            movieId
count    138.000000
mean    4607.202899
std    12546.913586
min        1.000000
25%      393.500000
50%     1197.500000
75%     2948.750000
max    79132.000000

In [58]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 0 to 7372
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  138 non-null    int64
 1   title    138 non-null    object
 2   genres   138 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.3+ KB

In [59]:
movies.set_index('movieId', inplace=True)

In [60]:
movies

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
6,Heat (1995),Action|Crime|Thriller
10,GoldenEye (1995),Action|Adventure|Thriller
32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
...,...,...
48516,"Departed, The (2006)",Crime|Drama|Thriller
58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
60069,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi
68954,Up (2009),Adventure|Animation|Children|Drama
79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [61]:
ratings.to_csv('../data/reduced/ratings_m{}_u{}.csv'.format(n_ratings_movie, n_ratings_user))

In [62]:
movies.to_csv('../data/reduced/movies_m{}_u{}.csv'.format(n_ratings_movie, n_ratings_user))