# Filtros para reduzir o numero de instâncias dos conjuntos de dados
motivação: 

Percebi que existem filmes com poucas avaliações, como podemos dizer se um filme é bom com apenas 1 ou 2 avaliações?

Portanto, aqui reduzimos o conjunto de dados ao remover usuários e filmes com pouca "relevância" segundo os conceitos citados anteriormente.

In [53]:
import pandas as pd

## filtro de numero de avaliações por usuário e filme

### defina o limite minimo para permanecer

In [54]:
n_ratings_movie = 10

In [55]:
ratings = pd.read_csv('../data/standard/ratings.csv', index_col='userId')
ratings.head()

        movieId  rating  timestamp
userId
1             1     4.0  964982703
1             3     4.0  964981247
1             6     4.0  964982224
1            47     5.0  964983815
1            50     5.0  964982931

In [56]:
ratings.describe()

             movieId         rating     timestamp
count  100836.000000  100836.000000  1.008360e+05
mean    19435.295718       3.501557  1.205946e+09
std     35530.987199       1.042529  2.162610e+08
min         1.000000       0.500000  8.281246e+08
25%      1199.000000       3.000000  1.019124e+09
50%      2991.000000       3.500000  1.186087e+09
75%      8122.000000       4.000000  1.435994e+09
max    193609.000000       5.000000  1.537799e+09

In [57]:
ratings.index.value_counts().describe()

count     610.000000
mean      165.304918
std       269.480584
min        20.000000
25%        35.000000
50%        70.500000
75%       168.000000
max      2698.000000
Name: count, dtype: float64

In [58]:
ratings['movieId'].value_counts().describe()

count    9724.000000
mean       10.369807
std        22.401005
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       329.000000
Name: count, dtype: float64

In [59]:
def filter_n_ratings(df, column, n_ratings):
    low = df[column].value_counts() >= n_ratings
    low = low[low == True]
    return df[df[column].isin(low.index)]

In [60]:
ratings = filter_n_ratings(ratings, 'movieId', n_ratings_movie)

In [61]:
ratings.describe()

             movieId        rating     timestamp
count   81116.000000  81116.000000  8.111600e+04
mean    14857.178078      3.573678  1.197217e+09
std     29539.336412      1.018590  2.167182e+08
min         1.000000      0.500000  8.281246e+08
25%      1007.000000      3.000000  1.001562e+09
50%      2471.000000      4.000000  1.180447e+09
75%      6016.000000      4.000000  1.431955e+09
max    187593.000000      5.000000  1.537799e+09

In [62]:
len(ratings['movieId'].value_counts())

2269

In [63]:
len(ratings.index.value_counts())

610

## aplicando filtro no movies dataset

In [64]:
movies = pd.read_csv('../data/standard/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [65]:
movies = movies[movies['movieId'].isin(ratings['movieId'])]

In [66]:
movies.describe()

             movieId
count    2269.000000
mean    20530.586161
std     35185.840333
min         1.000000
25%      1345.000000
50%      3256.000000
75%      8958.000000
max    187593.000000

In [67]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2269 entries, 0 to 9709
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  2269 non-null   int64
 1   title    2269 non-null   object
 2   genres   2269 non-null   object
dtypes: int64(1), object(2)
memory usage: 70.9+ KB

In [68]:
movies.set_index('movieId', inplace=True)

In [69]:
movies

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
...,...,...
174055,Dunkirk (2017),Action|Drama|Thriller|War
176371,Blade Runner 2049 (2017),Sci-Fi
177765,Coco (2017),Adventure|Animation|Children
179819,Star Wars: The Last Jedi (2017),Action|Adventure|Fantasy|Sci-Fi
187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi

## Aplicando filtros no conjuno de dados 'links'

In [70]:
links = pd.read_csv('../data/standard/links.csv', index_col='movieId')

In [71]:
links.describe()

             imdbId         tmdbId
count  9.742000e+03    9734.000000
mean   6.771839e+05   55162.123793
std    1.107228e+06   93653.481487
min    4.170000e+02       2.000000
25%    9.518075e+04    9665.500000
50%    1.672605e+05   16529.000000
75%    8.055685e+05   44205.750000
max    8.391976e+06  525662.000000

In [72]:
links = links[links.index.isin(movies.index)]

In [73]:
links.describe()

             imdbId         tmdbId
count  2.269000e+03    2269.000000
mean   3.670981e+05   19720.701190
std    5.870238e+05   49425.176137
min    1.344200e+04       5.000000
25%    9.965300e+04    1452.000000
50%    1.199510e+05    9071.000000
75%    3.471490e+05   11566.000000
max    5.463162e+06  503475.000000

In [74]:
ratings

        movieId  rating   timestamp
userId
1             1     4.0   964982703
1             3     4.0   964981247
1             6     4.0   964982224
1            47     5.0   964983815
1            50     5.0   964982931
...         ...     ...         ...
610      159093     3.0  1493847704
610      164179     5.0  1493845631
610      166528     4.0  1493879365
610      168250     5.0  1494273047
610      168252     5.0  1493846352

[81116 rows x 3 columns]

In [75]:
ratings.to_csv('../data/reduced/ratings_m{}.csv'.format(n_ratings_movie), index_label='userId')

In [76]:
movies.to_csv('../data/reduced/movies_m{}.csv'.format(n_ratings_movie))

In [77]:
links.to_csv('../data/reduced/links_m{}.csv'.format(n_ratings_movie))