In [19]:
#! pip install -r ../requirements.txt

In [20]:
import pandas as pd

In [21]:
movies_path = '../data/reduced/movies_m100_u10'

In [22]:
links = pd.read_csv('../data/standard/links.csv', index_col='movieId') # ids do filme y nas plataformas imdb e tmdb, util para enriquecer os dados
movies = pd.read_csv(movies_path+'.csv', index_col='movieId') # dados do filme y
ratings = pd.read_csv('../data/reduced/ratings_m100_u10.csv', index_col='movieId') # avaliacao do usuario x pro filme y
tags = pd.read_csv('../data/standard/tags.csv', index_col='movieId') # n parece mto relevante

## separação do ano de lançamento

In [23]:
movies[['title', 'year']] = movies['title'].str.extract('(.+)+\((\d+)', expand=True)

movies.head()

,title,genres,year
movieId,,,
1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
2,Jumanji,Adventure|Children|Fantasy,1995
6,Heat,Action|Crime|Thriller,1995
10,GoldenEye,Action|Adventure|Thriller,1995
32,Twelve Monkeys (a.k.a. 12 Monkeys),Mystery|Sci-Fi|Thriller,1995

In [24]:
movies.head()

,title,genres,year
movieId,,,
1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
2,Jumanji,Adventure|Children|Fantasy,1995
6,Heat,Action|Crime|Thriller,1995
10,GoldenEye,Action|Adventure|Thriller,1995
32,Twelve Monkeys (a.k.a. 12 Monkeys),Mystery|Sci-Fi|Thriller,1995

In [25]:
genres = movies['genres']

def split_genre(series):
    return str(series).split('|') 

genres = genres.apply(split_genre)

movies['genres'] = genres

In [26]:
movies.head()

,title,genres,year
movieId,,,
1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
2,Jumanji,"[Adventure, Children, Fantasy]",1995
6,Heat,"[Action, Crime, Thriller]",1995
10,GoldenEye,"[Action, Adventure, Thriller]",1995
32,Twelve Monkeys (a.k.a. 12 Monkeys),"[Mystery, Sci-Fi, Thriller]",1995

In [27]:
movies.to_csv(movies_path+'_p.csv')